NEXT_PUBLIC_SUPABASE_URL=https://oaejfuqtjifuoveysaoe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...pega_aqui_la_anon_key
SUPABASE_SERVICE_ROLE_KEY=eyJ...pega_aqui_la_service_role_key
PASSWORD_PRESIDENTE=presidente2026
PASSWORD_TESORERO=tesorero2026
PASSWORD_SECRETARIA=secretaria2026
SESSION_SECRET=tesoreria-1b-2026-clave-secreta-larga-aleatoria
